{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<div class="container mx-auto p-4 dark:bg-gray-800 dark:text-gray-100">
    <h2 class="text-2xl font-bold mb-4 text-gray-800 dark:text-white">Editar Rúbrica</h2>

    <form method="POST" id="rubricaForm">
        {% csrf_token %}
        {{ rubrica_form.as_p }}

        <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-white">Categorías:</h3>

        <div id="categorias">
            {% for categoria in categorias %}
                <div class="categoria-item mb-4 p-4 border rounded-lg bg-gray-50 dark:bg-gray-700 shadow-sm">
                    <h4 class="font-bold text-lg mb-2 text-gray-800 dark:text-white">{{ categoria.nombre }}</h4>
                    <input type="text" name="categoria_nombre_{{ categoria.id }}" value="{{ categoria.nombre }}" placeholder="Nombre de la categoría" class="w-full p-2 border rounded-lg mb-2 dark:bg-gray-600 dark:text-white">
                    <input type="text" name="categoria_descripcion_{{ categoria.id }}" value="{{ categoria.descripcion }}" placeholder="Descripción de la categoría" class="w-full p-2 border rounded-lg mb-2 dark:bg-gray-600 dark:text-white">
                    <input type="hidden" name="eliminar_categoria_{{ categoria.id }}" value="false" class="eliminar-categoria">

                    <h5 class="font-semibold mt-2 text-gray-800 dark:text-white">Criterios:</h5>
                    <table class="min-w-full border-collapse border border-gray-300 mt-2 dark:border-gray-600">
                        <thead>
                            <tr class="bg-gray-200 dark:bg-gray-600">
                                <th class="border border-gray-300 p-2 dark:border-gray-600">Nombre del Criterio</th>
                                <th class="border border-gray-300 p-2 dark:border-gray-600">Descripción</th>
                                <th class="border border-gray-300 p-2 dark:border-gray-600">Puntaje 1</th>
                                <th class="border border-gray-300 p-2 dark:border-gray-600">Puntaje 2</th>
                                <th class="border border-gray-300 p-2 dark:border-gray-600">Puntaje 3</th>
                                <th class="border border-gray-300 p-2 dark:border-gray-600">Puntaje 4</th>
                                <th class="border border-gray-300 p-2 dark:border-gray-600">Puntaje 5</th>
                                <th class="border border-gray-300 p-2 dark:border-gray-600">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="criterios-{{ categoria.id }}">
                            {% for criterio in categoria.criterios.all %}
                                <tr>
                                    <td class="border border-gray-300 p-2 dark:border-gray-600">
                                        <input type="text" name="criterio_nombre_{{ criterio.id }}" value="{{ criterio.nombre }}" placeholder="Nombre del criterio" class="w-full p-2 border rounded-lg dark:bg-gray-500 dark:text-white">
                                    </td>
                                    <td class="border border-gray-300 p-2 dark:border-gray-600">
                                        <input type="text" name="criterio_descripcion_{{ criterio.id }}" value="{{ criterio.descripcion }}" placeholder="Descripción del criterio" class="w-full p-2 border rounded-lg dark:bg-gray-500 dark:text-white">
                                    </td>
                                    {% for puntaje in 1|to_list:5 %}
                                        <td class="border border-gray-300 p-2 dark:border-gray-600">
                                            <input type="text" name="descripcion_puntaje_{{ criterio.id }}_{{ puntaje }}" 
                                                   value="{{ criterio.descripciones.all|get_item:puntaje }}" 
                                                   placeholder="Descripción del puntaje" 
                                                   class="w-full p-2 border rounded-lg dark:bg-gray-500 dark:text-white">
                                        </td>
                                    {% endfor %}
                                    <td class="border border-gray-300 p-2 dark:border-gray-600">
                                        <input type="hidden" name="eliminar_criterio_{{ criterio.id }}" value="false" class="eliminar-criterio">
                                        <button type="button" class="btn-eliminar-criterio text-red-500 hover:text-red-700" data-criterio-id="{{ criterio.id }}">Eliminar</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>

                    <div class="flex justify-between mt-4">
                        <button type="button" class="btn-agregar-criterio bg-green-500 text-white p-2 rounded-lg hover:bg-green-600" data-categoria-id="{{ categoria.id }}">
                            Agregar Criterio
                        </button>
                        <button type="button" class="btn-eliminar-categoria bg-red-500 text-white p-2 rounded-lg hover:bg-red-600" data-categoria-id="{{ categoria.id }}">
                            Eliminar Categoría
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>

        
        <!-- Botones principales -->
        <div class="flex justify-between mt-4">
            <button type="button" id="btn-agregar-categoria" class="p-2 bg-green-500 text-white rounded-lg hover:bg-green-600">
                Agregar Categoría
            </button>
            
            <button type="button" id="btn-guardar-cambios" class="p-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">
                Guardar cambios
            </button>
            
            <button type="button" id="btn-cancelar" class="p-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">
                Cancelar
            </button>
        </div>
        
    </form>
</div>

<!-- Modal de Confirmación de Cancelación -->
<div id="cancelModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg max-w-sm w-full">
        <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-white">Confirmar Cancelación</h2>
        <p class="mb-4 text-gray-700 dark:text-gray-300">¿Estás seguro de que deseas cancelar? Todos los cambios no guardados se perderán.</p>
        <div class="flex justify-end">
            <button id="closeModal" class="mr-2 px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">
                No, regresar
            </button>
            <button id="confirmCancel" class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600">
                Sí, cancelar
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="confirmModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-white">Confirmación</h2>
        <p class="mb-4 text-gray-700 dark:text-gray-300">¿Estás seguro de que deseas aplicar los cambios?</p>
        <div class="flex justify-end">
            <button id="cancelar" class="mr-2 bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600">Cancelar</button>
            <button id="confirmar" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">Confirmar</button>
        </div>
    </div>
</div>

<!-- Modal de confirmación para eliminación de categoría -->
<div id="confirmDeleteModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-white">Confirmar Eliminación</h2>
        <p class="mb-4 text-gray-700 dark:text-gray-300">¿Estás seguro de que deseas eliminar esta categoría?</p>
        <div class="flex justify-end">
            <button id="cancelarEliminar" class="mr-2 bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600">Cancelar</button>
            <button id="confirmarEliminar" class="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600">Eliminar</button>
        </div>
    </div>
</div>

<script>
// Lógica para agregar/quitar criterios y categorías dinámicamente
document.addEventListener('DOMContentLoaded', function() {
     // Delegar el evento para agregar criterio, incluyendo categorías nuevas
     document.getElementById('categorias').addEventListener('click', function(event) {
        if (event.target.classList.contains('btn-agregar-criterio')) {
            const categoriaId = event.target.getAttribute('data-categoria-id');
            let tbody = document.getElementById(`criterios-${categoriaId}`);
            
            // Verificar si existe la tabla de criterios para la nueva categoría
            if (!tbody) {
                const categoriaDiv = event.target.closest('.categoria-item');
                const table = categoriaDiv.querySelector('table');
                tbody = document.createElement('tbody');
                tbody.setAttribute('id', `criterios-${categoriaId}`);
                table.appendChild(tbody);
            }
            
            agregarCriterio(tbody, categoriaId);
        }

        // Delegar el evento de eliminar criterio
        if (event.target.classList.contains('btn-eliminar-criterio')) {
            event.preventDefault();
            const criterioRow = event.target.closest('tr');
            if (criterioRow) {
                criterioRow.remove();
            }
        }
    });

    // Función para agregar un nuevo criterio en el tbody especificado
    function agregarCriterio(tbody, categoriaId) {
        const newCriterio = document.createElement('tr');
        newCriterio.innerHTML = `
            <td class="border border-gray-300 p-2 dark:border-gray-600">
                <input type="text" name="nuevo_criterio_nombre_${categoriaId}[]" placeholder="Nombre del criterio" class="w-full p-2 border rounded-lg dark:bg-gray-500 dark:text-white">
            </td>
            <td class="border border-gray-300 p-2 dark:border-gray-600">
                <input type="text" name="nuevo_criterio_descripcion_${categoriaId}[]" placeholder="Descripción del criterio" class="w-full p-2 border rounded-lg dark:bg-gray-500 dark:text-white">
            </td>
            ${[1, 2, 3, 4, 5].map(puntaje => `
                <td class="border border-gray-300 p-2 dark:border-gray-600">
                    <input type="text" name="descripcion_puntaje_nuevo_${categoriaId}_${puntaje}[]" placeholder="Descripción del puntaje" class="w-full p-2 border rounded-lg dark:bg-gray-500 dark:text-white">
                </td>
            `).join('')}
            <td class="border border-gray-300 p-2 dark:border-gray-600">
                <button type="button" class="btn-eliminar-criterio text-red-500 hover:text-red-700">Eliminar</button>
            </td>
        `;
        tbody.appendChild(newCriterio);
    }

    // Función para agregar una nueva categoría
    document.getElementById('btn-agregar-categoria').addEventListener('click', function() {
        const categoriasDiv = document.getElementById('categorias');
        const newCategoria = document.createElement('div');
        const newCategoriaId = `new-${Date.now()}`; // Genera un ID único temporal para la categoría
        newCategoria.classList.add('categoria-item', 'mb-4', 'p-4', 'border', 'rounded-lg', 'bg-gray-50', 'dark:bg-gray-700', 'shadow-sm');
        newCategoria.innerHTML = `
            <h4 class="font-bold text-lg mb-2 text-gray-800 dark:text-white">Nueva Categoría</h4>
            <input type="text" name="nueva_categoria_nombre[]" placeholder="Nombre de la categoría" class="w-full p-2 border rounded-lg mb-2 dark:bg-gray-600 dark:text-white">
            <input type="text" name="nueva_categoria_descripcion[]" placeholder="Descripción de la categoría" class="w-full p-2 border rounded-lg mb-2 dark:bg-gray-600 dark:text-white">
            <h5 class="font-semibold mt-2 text-gray-800 dark:text-white">Criterios:</h5>
            <table class="min-w-full border-collapse border border-gray-300 mt-2 dark:border-gray-600">
                <tbody id="criterios-${newCategoriaId}">
                    <tr>
                        <td class="border border-gray-300 p-2 dark:border-gray-600">
                            <input type="text" name="criterio_nuevo_nombre_${newCategoriaId}[]" placeholder="Nombre del criterio" class="w-full p-2 border rounded-lg dark:bg-gray-500 dark:text-white">
                        </td>
                        <td class="border border-gray-300 p-2 dark:border-gray-600">
                            <input type="text" name="criterio_nuevo_descripcion_${newCategoriaId}[]" placeholder="Descripción del criterio" class="w-full p-2 border rounded-lg dark:bg-gray-500 dark:text-white">
                        </td>
                        ${[1, 2, 3, 4, 5].map(puntaje => `
                            <td class="border border-gray-300 p-2 dark:border-gray-600">
                                <input type="text" name="descripcion_puntaje_nuevo_${newCategoriaId}_${puntaje}[]" placeholder="Descripción del puntaje" class="w-full p-2 border rounded-lg dark:bg-gray-500 dark:text-white">
                            </td>
                        `).join('')}
                        <td class="border border-gray-300 p-2 dark:border-gray-600">
                            <button type="button" class="btn-eliminar-criterio text-red-500 hover:text-red-700">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="flex justify-between mt-4">
                <button type="button" class="btn-agregar-criterio bg-green-500 text-white p-2 rounded-lg hover:bg-green-600" data-categoria-id="${newCategoriaId}">Agregar Criterio</button>
                <button type="button" class="btn-eliminar-categoria bg-red-500 text-white p-2 rounded-lg hover:bg-red-600">Eliminar Categoría</button>
            </div>
        `;
        categoriasDiv.appendChild(newCategoria);
    });
    

    // Mostrar el modal de confirmación
    document.getElementById('btn-guardar-cambios').addEventListener('click', function() {
        document.getElementById('confirmModal').classList.remove('hidden');
    });

    // Ocultar el modal de confirmación
    document.getElementById('cancelar').addEventListener('click', function() {
        document.getElementById('confirmModal').classList.add('hidden');
    });

    // Confirmar y enviar el formulario
    document.getElementById('confirmar').addEventListener('click', function() {
        document.getElementById('rubricaForm').submit();
    });

    // Seleccionar los elementos del modal
    const cancelModal = document.getElementById('cancelModal');
    const btnCancel = document.getElementById('btn-cancelar');
    const btnCloseModal = document.getElementById('closeModal');
    const btnConfirmCancel = document.getElementById('confirmCancel');

    // Mostrar el modal cuando se hace clic en "Cancelar"
    btnCancel.addEventListener('click', () => {
        cancelModal.classList.remove('hidden');
    });

    // Cerrar el modal cuando se hace clic en "No, regresar"
    btnCloseModal.addEventListener('click', () => {
        cancelModal.classList.add('hidden');
    });

    // Redirigir al usuario cuando confirme la cancelación
    btnConfirmCancel.addEventListener('click', () => {
        window.location.href = '{% url "ver_rubrica" rubrica.id %}';
    });
});

document.addEventListener('DOMContentLoaded', function() {
    let categoriaIdAEliminar = null;

    // Mostrar el modal de confirmación al hacer clic en "Eliminar Categoría"
    document.getElementById('categorias').addEventListener('click', function(event) {
        if (event.target.classList.contains('btn-eliminar-categoria')) {
            event.preventDefault();
            categoriaIdAEliminar = event.target.getAttribute('data-categoria-id');
            document.getElementById('confirmDeleteModal').classList.remove('hidden');
        }
    });

    // Ocultar el modal de confirmación al hacer clic en "Cancelar"
    document.getElementById('cancelarEliminar').addEventListener('click', function() {
        document.getElementById('confirmDeleteModal').classList.add('hidden');
        categoriaIdAEliminar = null;
    });

    // Confirmar la eliminación de la categoría y ocultar el modal
    document.getElementById('confirmarEliminar').addEventListener('click', function() {
        if (categoriaIdAEliminar) {
            // Marca el campo oculto para indicar que se debe eliminar la categoría
            document.querySelector(`input[name="eliminar_categoria_${categoriaIdAEliminar}"]`).value = 'true';
            // Oculta visualmente la categoría
            document.querySelector(`button[data-categoria-id="${categoriaIdAEliminar}"]`).closest('.categoria-item').style.display = 'none';
            // Oculta el modal
            document.getElementById('confirmDeleteModal').classList.add('hidden');
            categoriaIdAEliminar = null;
        }
    }); 
});
</script>

{% endblock %}