<!-- templates/rubricas/realizar_evaluacion.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mx-auto p-4 dark:bg-gray-800 dark:text-gray-100">
    <h1 class="text-2xl font-bold mb-4 text-gray-800 dark:text-white">Realizar Evaluación</h1>
    <form method="post" id="evaluacionForm">
        {% csrf_token %}
        {{ evaluacion_general_form.as_p }}
        {% for item in categorias %}
            <div class="bg-gray-100 p-4 m-2 rounded-lg border border-gray-300 dark:bg-gray-700 dark:border-gray-600">
                <h2 class="font-bold text-gray-800 dark:text-white">{{ item.categoria.nombre }}</h2>
                <p class="text-gray-700 dark:text-gray-300">{{ item.categoria.descripcion }}</p>

                <h3 class="font-semibold mt-2 text-gray-800 dark:text-white">Criterios:</h3>
                <table class="min-w-full border-collapse border border-gray-300 dark:border-gray-600 mt-2">
                    <thead>
                        <tr class="bg-gray-200 dark:bg-gray-600">
                            <th class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">Nombre del Criterio</th>
                            <th class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">Descripción</th>
                            <th class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">Puntaje 1 (Muy Deficiente)</th>
                            <th class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">Puntaje 2 (Deficiente)</th>
                            <th class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">Puntaje 3 (Aceptable)</th>
                            <th class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">Puntaje 4 (Buena)</th>
                            <th class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">Puntaje 5 (Excelente)</th>
                            <th class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">Seleccionar Calificación</th>
                            <th class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">Comentario (opcional)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for criterio_info in item.criterios %}
                            <tr>
                                <td class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">{{ criterio_info.criterio.nombre }}</td>
                                <td class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">{{ criterio_info.criterio.descripcion }}</td>
                                <td class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">
                                    {% if criterio_info.descripciones_puntajes.1 %}
                                        {{ criterio_info.descripciones_puntajes.1.descripcion }}
                                    {% else %}
                                        <em class="text-gray-500 dark:text-gray-400">Sin descripción</em>
                                    {% endif %}
                                </td>
                                <td class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">
                                    {% if criterio_info.descripciones_puntajes.2 %}
                                        {{ criterio_info.descripciones_puntajes.2.descripcion }}
                                    {% else %}
                                        <em class="text-gray-500 dark:text-gray-400">Sin descripción</em>
                                    {% endif %}
                                </td>
                                <td class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">
                                    {% if criterio_info.descripciones_puntajes.3 %}
                                        {{ criterio_info.descripciones_puntajes.3.descripcion }}
                                    {% else %}
                                        <em class="text-gray-500 dark:text-gray-400">Sin descripción</em>
                                    {% endif %}
                                </td>
                                <td class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">
                                    {% if criterio_info.descripciones_puntajes.4 %}
                                        {{ criterio_info.descripciones_puntajes.4.descripcion }}
                                    {% else %}
                                        <em class="text-gray-500 dark:text-gray-400">Sin descripción</em>
                                    {% endif %}
                                </td>
                                <td class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">
                                    {% if criterio_info.descripciones_puntajes.5 %}
                                        {{ criterio_info.descripciones_puntajes.5.descripcion }}
                                    {% else %}
                                        <em class="text-gray-500 dark:text-gray-400">Sin descripción</em>
                                    {% endif %}
                                </td>
                                <td class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">
                                    <select 
                                        name="criterio_{{ criterio_info.criterio.id }}" 
                                        id="criterio_{{ criterio_info.criterio.id }}" 
                                        class="w-full p-2 bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm hover:bg-gray-50 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all duration-200 ease-in-out" 
                                        required
                                    >
                                        <option value="" selected disabled class="text-gray-500 dark:text-gray-400">Seleccione una calificación</option>
                                        <option value="1">Muy Deficiente</option>
                                        <option value="2">Deficiente</option>
                                        <option value="3">Aceptable</option>
                                        <option value="4">Buena</option>
                                        <option value="5">Excelente</option>
                                    </select>
                                </td>
                                <td class="border border-gray-300 p-2 dark:border-gray-600 text-gray-800 dark:text-white">
                                    <textarea name="comentario_{{ criterio_info.criterio.id }}" id="comentario_{{ criterio_info.criterio.id }}" class="w-full bg-white dark:bg-gray-700 text-gray-800 dark:text-white border border-gray-300 dark:border-gray-600 rounded-lg"></textarea>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="10" class="border border-gray-300 p-2 dark:border-gray-600 text-center text-gray-800 dark:text-white">No hay criterios para esta categoría.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}

        <div class="flex justify-between mt-4">
            <button type="submit" class="p-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300">
                Guardar Evaluación
            </button>
            <!-- Botón de cancelar que redirige a la página de rúbricas disponibles -->
            <button type="button" id="btn-cancelar" 
                    class="p-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition duration-300">
                Cancelar
            </button>
        </div>
    </form>
</div>

<!-- Modal de Confirmación de Cancelación -->
<div id="cancelModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg max-w-sm w-full">
        <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-white">Confirmar Cancelación</h2>
        <p class="mb-4 text-gray-700 dark:text-gray-300">¿Estás seguro de que deseas cancelar? Todos los cambios no guardados se perderán.</p>
        <div class="flex justify-end">
            <button id="closeModal" class="mr-2 px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">
                No, regresar
            </button>
            <button id="confirmCancel" class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600">
                Sí, cancelar
            </button>
        </div>
    </div>
</div>

<script>
    document.getElementById('evaluacionForm').addEventListener('submit', function(event) {
        const selects = document.querySelectorAll('select[name^="criterio_"]');
        let valid = true;

        selects.forEach(select => {
            if (select.value === "") {
                valid = false;
                select.classList.add('border-red-500');
            } else {
                select.classList.remove('border-red-500');
            }
        });

        if (!valid) {
            event.preventDefault();
            alert('Por favor, selecciona una calificación para todos los criterios.');
        }
    });

    // Seleccionar los elementos del modal
    const cancelModal = document.getElementById('cancelModal');
    const btnCancel = document.getElementById('btn-cancelar');
    const btnCloseModal = document.getElementById('closeModal');
    const btnConfirmCancel = document.getElementById('confirmCancel');

    // Mostrar el modal cuando se hace clic en "Cancelar"
    btnCancel.addEventListener('click', () => {
        cancelModal.classList.remove('hidden');
    });

    // Cerrar el modal cuando se hace clic en "No, regresar"
    btnCloseModal.addEventListener('click', () => {
        cancelModal.classList.add('hidden');
    });

    // Redirigir al usuario cuando confirme la cancelación
    btnConfirmCancel.addEventListener('click', () => {
        window.location.href = '{% url "seleccionar_rubrica" %}';
    });
</script>
{% endblock %}